.transaction__form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.transaction__label {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size:15px;
    font-weight: bolder;
    align-self: start;
}

.transaction__input {
    padding:7px;
    border-radius:5px;
    /* box-shadow:0px 5px 17px -7px rgba(0, 0, 0, 0.9); */
    width: 350px;
    margin-bottom:20px;
    font-size:15px;
    font-family: 'Poppins', sans-serif;
    outline-width: 0;
    outline:none;
    border-color: #003366;
    margin-top:5px;
    background-color: 	#001933;
    color:white;
    border-style: solid;
   
}

.transaction__input:focus{
    border-color: #004c99;
}

.transaction__form > button {
    margin-top:10px;
    align-self: center;
    padding: 7px;
    width:100px;
    font-size: 14px;
    border-radius:15px;
    background-color:#003366;
    color:white;
    outline-width: 0;
    border:none;
    box-shadow:0px 5px 17px -7px rgba(0, 0, 0, 0.9);
    font-family: 'Poppins', sans-serif;
    font-weight:bold;
    transition: transform 100ms ease-in;
    cursor: pointer;
    
}

.transaction__form > button:hover {
    transform: scale(1.13);
    background-color: #0066cc
}